<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
</head>
<header>
  <h1 class="logo">Blog</h1>
  <nav>
    <ul class="nav_links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/compose">Compose</a></li>
    </ul>
  </nav>
  <a class="cta" href="https://www.linkedin.com/in/nitesh-gupta-007/" target="_blank"><img id= "linkedin" style="background-color:white;" height = "40px" width = "40px" src = "\images\linkedin.png"></a>
  <a class="cta" href="https://mail.google.com/mail/?view=cm&fs=1&to=nitgupta007esh@gmail.com"  target="_blank"><img id= "gmail" style="background-color:white;" height = "40px" width = "50px" src = "\images\gmail.png"></a>
 
</header>

