<%-include("partials/header")%>


<div class="postcontainer">
  <div class="aboutcard">
    <div class="card__header">
      <img class = "post" src="/images/profile.jpg" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      
      <h5>About Me</h5>
      <p class = "post">I am Nitesh Gupta currently persuing Electronics Engineering (Part-3) in IIT BHU.
I am going to be  software intern at mykaarma in summer 2022.</p>
    </div>
    </div>
</div>
<%-include("partials/footer")%>